@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import "tailwindcss";

@theme {
	/* background color settings for lightmode */
	--bg-start: rgba(255, 238, 0, 0.38);
	--bg-end: rgb(255, 67, 199);
	--bg-shift: 60%;

	/* button color settings for lightmode: */
	--btn-bg-start: rgb(255, 71, 221);
	--btn-bg-end: rgb(248, 255, 53);
	--btn-bd-col: rgb(184, 255, 71);
	--btn-text: rgb(0, 0, 0);
	--btn-hover: linear-gradient(rgba(170, 0, 139, 0.5),rgba(255, 141, 53, 0.95));
	--btn-hover-bd: rgb(255, 255, 255);
	--btn-hover-text: rgb(2, 247, 255);

	--text-color: black;
	--font-honk: "Honk", sans-serif;
}

@layer theme {
	.dark {
		/* background color settings for darkmode */
		--bg-start: rgba(176, 26, 119, 0.95);
		--bg-end: rgb(27, 27, 27);
		--bg-shift: 40%;

		/* button color settings for darkmode: */
		--btn-bg-start: rgba(255, 71, 221, 0.8);
		--btn-bg-end: rgba(248, 255, 53, 0.8);
		--btn-bd-col: rgb(255, 102, 0);
		--btn-text: rgb(0, 0, 0);
		--btn-hover: linear-gradient(rgba(170, 0, 139, 0.9),rgba(255, 83, 53, 0.95));
		--btn-hover-bd: rgb(255, 255, 255);
		--btn-hover-text: rgb(0, 0, 0);

		--text-color: white;
	}
}

@layer base {

	body {
		background: linear-gradient(
			to bottom,
			var(--bg-start) 0%,
			var(--bg-end) var(--bg-shift)
		);
	}

	a {
		font-weight: 500;
		color: #646cff;
		text-decoration: inherit;
	}

	a:hover {
		color: #535bf2;
	}

	h1, h2, h3, p {
		color: var(--text-color);
	}
}

@layer components {

	.btn {
		border-radius: 8px;
		border: 3px solid;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		color: var(--btn-text);
		border-color: var(--btn-bd-col);
		background: linear-gradient(var(--btn-bg-start),var(--btn-bg-end));
		cursor: pointer;
		transition: 0.5s;
	}

	.btn:hover {
		background: var(--btn-hover);
		border-color: var(--btn-hover-bd);
		color: var(--btn-hover-text);
	}

	.btn:focus, button:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}

}

@layer utilities {
	
	.logo {
		font-family: var(--font-honk);
	}
	
	.btn-sm { @apply px-3 py-1.5 text-sm; }
	.btn-md { @apply px-4 py-2 text-base; }
	.btn-lg { @apply px-5 py-3 text-lg; }
	
}