@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Backgrounds */
@utility bg-gradient {
  background: white;
}
@utility bg-gradient-dark {
  background: black;
}

/* Buttons */
@utility btn-bg {
  background: white;
}
@utility btn-bg-dark {
  background: white;
}
@utility btn-bg-secondary {
  background: white;
}
@utility btn-bg-secondary-dark {
  background: white;
}
@utility btn-hover-bg {
  background: black;
}
@utility btn-hover-bg-dark {
  background: white;
}



