@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --vintage-yellow: #e3cc98;
  --light-bg: #e6dfd3;
  --dark-bg: #343434;
}

@theme {
  --color-vintage-yellow: var(--vintage-yellow);
  --color-vintage-red: var(--color-red-700);
  --color-light-bg: var(--light-bg);
  --color-dark-bg: var(--dark-bg);

  --font-press: "Press Start 2P";
  --font-tomorrow: "Tomorrow";
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
