@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility bg-gradient {
	background: linear-gradient(to bottom, rgba(255, 238, 0, 0.38) 0%, rgb(255, 67, 199) 60%);
}

@utility bg-gradient-dark {
	background: linear-gradient(to bottom, rgba(176, 26, 119, 0.95) 0%, rgb(27, 27, 27) 40%);
}

/* @utility btn-bg {
	background: linear-gradient(rgb(255, 71, 221), rgb(248, 255, 53));
}

@utility btn-hover-bg {
	background: linear-gradient(rgba(170, 0, 139, 0.5), rgba(255, 141, 53, 0.95));
}

@utility btn-bg-dark {
	background: linear-gradient(rgba(255, 71, 221, 0.8), rgba(248, 255, 53, 0.8));
} */
