@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.font-press-start {
  font-family: "Press Start 2P", cursive;
}

@theme {
  --color-vintage-yellow: #e3cc98;
}