@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility bg-gradient {
	background: linear-gradient(to bottom, rgba(255, 238, 0, 0.38) 0%, rgb(255, 67, 199) 60%);
}

@utility bg-gradient-dark {
	background: linear-gradient(to bottom, rgba(176, 26, 119, 0.95) 0%, rgb(23, 21, 23) 40%);
}

@utility btn-bg {
	background: linear-gradient(rgb(255, 71, 221), rgb(248, 255, 53));
}

@utility btn-bg-secondary {
	background: linear-gradient(rgb(213, 59, 185), rgb(224, 229, 65));
}

@utility btn-bg-secondary-dark {
	background: linear-gradient(rgba(187, 58, 163, 1), rgba(198, 203, 57, 1));
}

@utility btn-hover-bg {
	background: linear-gradient(rgba(170, 0, 139, 0.5), rgba(255, 141, 53, 0.95));
}

@utility btn-bg-dark {
	background: linear-gradient(rgba(255, 71, 221, 0.8), rgba(248, 255, 53, 0.8));
}
